<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015393617105-spnqo87o6f3lt4hh5v5v9ndhfq87r3a4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015393617105-spnqo87o6f3lt4hh5v5v9ndhfq87r3a4</string>
	<key>API_KEY</key>
	<string>AIzaSyDdJoAaVt4ziRjrkN7Qvj8WIPu2Y20hzmw</string>
	<key>GCM_SENDER_ID</key>
	<string>1015393617105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tmpOnline</string>
	<key>PROJECT_ID</key>
	<string>uni-food-app</string>
	<key>STORAGE_BUCKET</key>
	<string>uni-food-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015393617105:ios:1a4a23fb29351dc8a331f0</string>
</dict>
</plist>